/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 15 --qualified_quality_phred 15 --unqualified_percent_limit 40 --length_required 60'
        publishDir = [
            [
                path: { "${params.outdir}/qc/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/qc/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz",
                enabled: false
            ]
        ]
    }

    withName: 'COUNT_READS' {
        publishDir = [
            path: { "${params.outdir}/readcounts" },
            mode: params.publish_dir_mode,
            pattern: "*_readcount.txt",
            enabled: false  // Individual counts not published, only the summary tables
        ]
    }

    withName: 'COUNT_READS_QC' {
        publishDir = [
            path: { "${params.outdir}/readcounts" },
            mode: params.publish_dir_mode,
            pattern: "*_readcount.txt",
            enabled: false
        ]
    }

    withName: 'COUNT_READS_HOST' {
        publishDir = [
            path: { "${params.outdir}/readcounts" },
            mode: params.publish_dir_mode,
            pattern: "*_readcount.txt",
            enabled: false
        ]
    }

    withName: 'CAT_READCOUNTS' {
        ext.prefix = 'readcounts_raw'
        publishDir = [
            path: { "${params.outdir}/readcounts" },
            mode: params.publish_dir_mode,
            pattern: "*.csv"
        ]
    }

    withName: 'CAT_READCOUNTS_QC' {
        ext.prefix = 'readcounts_after_qc'
        publishDir = [
            path: { "${params.outdir}/readcounts" },
            mode: params.publish_dir_mode,
            pattern: "*.csv"
        ]
    }

    withName: 'CAT_READCOUNTS_HOST' {
        ext.prefix = 'readcounts_after_host_removal'
        publishDir = [
            path: { "${params.outdir}/readcounts" },
            mode: params.publish_dir_mode,
            pattern: "*.csv"
        ]
    }

    withName: 'BOWTIE2_BUILD' {
        publishDir = [
            path: { "${params.outdir}/host_index" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'BOWTIE2_FILTERHOST' {
        publishDir = [
            [
                path: { "${params.outdir}/host_removal" },
                mode: params.publish_dir_mode,
                pattern: "*.{log,stats}"
            ],
            [
                path: { "${params.outdir}/host_removal/reads" },
                mode: params.publish_dir_mode,
                pattern: "*_unmapped*.fastq.gz",
                enabled: params.save_host_filtered_reads
            ]
        ]
    }

    withName: 'CAYMAN_DOWNLOAD' {
        publishDir = [
            path: { "${params.outdir}/cayman_db" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CAYMAN_UNZIP' {
        publishDir = [
            path: { "${params.outdir}/cayman_db" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/cayman_db" },
            mode: 'symlink'
        ]
    }

    withName: 'CAYMAN_CAYMAN' {
        publishDir = [
            path: { "${params.outdir}/cayman/compressed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GUNZIP_CAYMAN|GUNZIP_STATS' {
        publishDir = [
            path: { "${params.outdir}/cayman/uncompressed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAYMAN_PROCESS_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/cayman/processed" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'CAYMAN_MERGE_TABLES' {
        publishDir = [
            path: { "${params.outdir}/cayman/tables" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
}
