/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 15 --qualified_quality_phred 15 --unqualified_percent_limit 40 --length_required 60'
        publishDir = [
            [
                path: { "${params.outdir}/qc/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/qc/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz",
                enabled: false
            ]
        ]
    }

    withName: 'CAYMAN_DOWNLOAD' {
        storeDir = 'db/cayman'
    }

    withName: 'CAYMAN_CAYMAN' {
        publishDir = [
            path: { "${params.outdir}/cayman" },
            mode: params.publish_dir_mode,
            pattern: "*.csv"
        ]
    }
}
